<div class="container-fluid">

<div class="container-fluid">


  <mat-tab-group>


    <mat-tab *ngFor="let vehicle_type of vehicle_types let index=index">
      <ng-template mat-tab-label>
        <img src="/assets/images/vehicle_nav/{{vehicle_type.type}}.png" alt="" class="vehicle_img">
        {{vehicle_type.type}}
      </ng-template>


      <div *ngFor="let vehicle of vehicleList" class="row scroll-horizontal" style="margin: 0">

        <ul *ngIf="vehicle['vehicle_type'] == vehicle_type.type" class="collection with-header" style="display: inherit;">



            <li class="collection-header"><h4>{{vehicle.vehicle_no}}</h4></li>




          <div *ngFor="let job of vehicleJobs[vehicle_type.type]" >

            <div *ngIf="job['vehicle']['vehicle_no'] == vehicle['vehicle_no']" class="vehicle_job_div">

              <ul class="collection">

                <li class="collection-item avatar">
                  <i class="material-icons circle"></i>

                  <span class="title">

                    {{job['departure']['pickupTime']}} To
                         {{job['departure']['dropTime']}} 12.30

                  </span>
                  <p>{{job['departure']['pickupPoint']}} <br>
                    {{job['departure']['dropPoint']}} test
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons"></i></a>
                </li>

              </ul>
              <!--<div class="row">
                <div class="col s12 m6">
                  <div class="card ">
                    <div class="card-content ">
                    <span class="card-title">

                       <img src="/assets/images/vehicle_nav/clock.png" alt="" class="">



                    </span>
                      <div class="">
                        <img src="/assets/images/vehicle_nav/start.png" alt="" class="">
                        {{job['departure']['pickupPoint']}}
                      </div>

                      <div class="">
                        <img src="/assets/images/vehicle_nav/finish.png" alt="" class="">
                        {{job['departure']['dropPoint']}} test
                      </div>
                    </div>
                    <div class="card-action">

                    </div>
                  </div>
                </div>

              </div>-->

            </div>


        </div>


      </ul>
      </div>

    </mat-tab>
  </mat-tab-group>



  <div>

<!--
    <nav style="margin-left: -16px; padding-bottom: 5px">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a *ngFor="let vehicle_type of vehicle_types let index = index"
           class="nav-item nav-link vehicle_nav"
           [ngClass]="{active: index ==0}"
           id="nav-{{vehicle_type.type}}-tab" data-toggle="tab"
           href="#nav-{{vehicle_type.type}}" role="tab"
           attr.aria-controls="nav-{{vehicle_type.type}}"
           aria-selected="true">
          <img src="/assets/images/vehicle_nav/{{vehicle_type.type}}.png" alt="" class="vehicle_img">
          {{vehicle_type.type}}</a>
      </div>
    </nav>


    <div class="tab-content" id="nav-tabContent">
      <div  *ngFor="let vehicle_type of vehicle_types let index = index"
            class="tab-pane fade show"
            [ngClass]="{active: index ==0}"
            id="nav-{{vehicle_type.type}}"
            role="tabpanel"
            attr.aria-labelledby="nav-{{vehicle_type.type}}-tab">

       <div *ngFor="let vehicle of vehicleList" class="row scroll-horizontal">

         <div *ngIf="vehicle['vehicle_type'] == vehicle_type.type" style="display: inherit;">

           <div class="vehicle_no_div">

             {{vehicle.vehicle_no}}
           </div>

           <div *ngFor="let job of vehicleJobs[vehicle_type.type]" >

             <div *ngIf="job['vehicle']['vehicle_no'] == vehicle['vehicle_no']" class="vehicle_job_div">

               <span class="vehicle_time">

                 <img src="/assets/images/vehicle_nav/clock.png" alt="" class="vehicle_job_icon">

                 {{job['departure']['pickupTime']}} To 12.30
                 {{job['departure']['dropTime']}}
               </span>

               <div class="vehicle_place">
                 <img src="/assets/images/vehicle_nav/start.png" alt="" class="vehicle_job_icon">
                 {{job['departure']['pickupPoint']}}
               </div>

               <div class="vehicle_place">
                 <img src="/assets/images/vehicle_nav/finish.png" alt="" class="vehicle_job_icon">
                 {{job['departure']['dropPoint']}}
               </div>

             </div>

           </div>
         </div>


       </div>

      </div>

    </div>-->


  </div>
</div>


  <!--<div class="row" *ngFor="let vehicle of vehicleList">-->

    <!--<div class="vehicle_no_div">-->
      <!--{{vehicle['vehicle_no']}}-->
    <!--</div>-->

    <!--<div *ngFor="let request of requestList" class="col-md-2">-->
      <!--<div *ngIf="request['vehicle']['vehicle_no'] == vehicle['vehicle_no']">-->
        <!--<div>-->
          <!--<span>-->
            <!--{{request['departure']['pickupTime']}}-->
          <!--</span>-->
          <!--<span>-->
            <!--{{request['departure']['dropTime']}}-->
          <!--</span>-->
        <!--</div>-->

        <!--<div>-->
          <!--<span>{{request['departure']['pickupPoint']}}</span> To-->
          <!--<span>{{request['departure']['dropPoint']}}</span>-->
        <!--</div>-->


      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
</div>
