.vehicle_no_div {
  color: white;
  background-color: #c82333;
  font-size: 2.3vh;
  width: 100px;
  text-align: center;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  border: solid 1px #680000;
  height: 150px;
}

.vehicle_job_div {
  text-align: center;
  /*color: black;
  background-color: white;
  font-size: 2.3vh;
  width: 220px;

  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  border: solid 1px black;
  height: 150px;
  overflow: hidden;*/
}

.vehicle_nav {
  min-width: 100px;
  height: 80px;
  font-size: 3vh;
  color: white;
  background-color: #680000;
  text-align: center;
}

.vehicle_nav:hover {
  background-color: #c82333;
  color: white;
}
.vehicle_nav.active {
  background-color: black;
  color: white;
}


.vehicle_img {
  width: 50px;
}

.vehicle_time {
  font-size: 2vh;
  font-weight: bold;
  padding: 2px;
  background-color: #ffbac0;
  padding: 5px;
}

.vehicle_place{
  text-align: left;
  font-size: 2.3vh;
  padding: 5px;
}

.vehicle_job_icon{
  height: 15px;
}

.scroll-horizontal {
  overflow: auto;
  white-space: nowrap;
}


.mat-tab-label{
  background-color: #680000 ;
}
