<div class="container-fluid">

<div class="container-fluid">
  <div>


    <nav style="margin-left: -16px; padding-bottom: 5px">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a *ngFor="let vehicle_type of vehicle_types let index = index"
           class="nav-item nav-link vehicle_nav"
           [ngClass]="{active: index ==0}"
           id="nav-{{vehicle_type.type}}-tab" data-toggle="tab"
           href="#nav-{{vehicle_type.type}}" role="tab"
           attr.aria-controls="nav-{{vehicle_type.type}}"
           aria-selected="true">
          <img src="/assets/images/vehicle_nav/{{vehicle_type.type}}.png" alt="" class="vehicle_img">
          {{vehicle_type.type}}</a>
      </div>
    </nav>


    <div class="tab-content" id="nav-tabContent">
      <div  *ngFor="let vehicle_type of vehicle_types let index = index"
            class="tab-pane fade show"
            [ngClass]="{active: index ==0}"
            id="nav-{{vehicle_type.type}}"
            role="tabpanel"
            attr.aria-labelledby="nav-{{vehicle_type.type}}-tab">

       <div *ngFor="let vehicle of vehicleList" class="row scroll-horizontal">

         <div *ngIf="vehicle['vehicle_type'] == vehicle_type.type" style="display: inherit;">

           <div class="vehicle_no_div">

             {{vehicle.vehicle_no}}
           </div>

           <div *ngFor="let job of vehicleJobs[vehicle_type.type]" >

             <div *ngIf="job['vehicle']['vehicle_no'] == vehicle['vehicle_no']" class="vehicle_job_div">

               <span class="vehicle_time">

                 <img src="/assets/images/vehicle_nav/clock.png" alt="" class="vehicle_job_icon">

                 {{job['departure']['pickupTime']}} To 12.30
                 {{job['departure']['dropTime']}}
               </span>

               <div class="vehicle_place">
                 <img src="/assets/images/vehicle_nav/start.png" alt="" class="vehicle_job_icon">
                 {{job['departure']['pickupPoint']}}
               </div>

               <div class="vehicle_place">
                 <img src="/assets/images/vehicle_nav/finish.png" alt="" class="vehicle_job_icon">
                 {{job['departure']['dropPoint']}}
               </div>

             </div>

           </div>
         </div>


       </div>

      </div>

    </div>


  </div>
</div>


  <!--<div class="row" *ngFor="let vehicle of vehicleList">-->

    <!--<div class="vehicle_no_div">-->
      <!--{{vehicle['vehicle_no']}}-->
    <!--</div>-->

    <!--<div *ngFor="let request of requestList" class="col-md-2">-->
      <!--<div *ngIf="request['vehicle']['vehicle_no'] == vehicle['vehicle_no']">-->
        <!--<div>-->
          <!--<span>-->
            <!--{{request['departure']['pickupTime']}}-->
          <!--</span>-->
          <!--<span>-->
            <!--{{request['departure']['dropTime']}}-->
          <!--</span>-->
        <!--</div>-->

        <!--<div>-->
          <!--<span>{{request['departure']['pickupPoint']}}</span> To-->
          <!--<span>{{request['departure']['dropPoint']}}</span>-->
        <!--</div>-->


      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
</div>
