.vehicle_no_div {
  font-family: fantasy;
  color: white;
  background-color: #BD4545;
  font-size: 2vh;
  width: 10vh;
  text-align: center;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  border: solid 2px black;
}

.vehicle_nav {
  min-width: 100px;
  height: 80px;
  font-size: 3vh;
  color: white;
  background-color: #680000;
  text-align: center;
}

.vehicle_nav:hover {
  background-color: #c82333;
  color: white;
}
.vehicle_nav.active {
  background-color: black;
  color: white;
}


.vehicle_img {
  width: 50px;
}
