.mat-chip{

}

.mat-expansion-panel-header{
  background: #ffffff;
  border-bottom: solid 2px #673ab7;
}

.mat-expansion-panel-header:focus{
  background: #E1E1E1;
  border-bottom: solid 0px #673ab7;
  height:55px;
}


