
<div>
  <h2 mat-dialog-title style="display: inline;">TRD/{{ selectedRequest['refNo'] }}</h2>
  <button mat-icon-button style="float: right;vertical-align: bottom;" (click)="loadEditWindow()"><mat-icon>edit</mat-icon></button>
</div>


<mat-divider></mat-divider>

<mat-dialog-content>



  <div class="row">
    <div class="col-lg-6">


        <mat-card>
          <mat-card-title>
            To:
          </mat-card-title>

          <mat-chip-list>
            <mat-chip [selected]="true">
              {{ selectedRequest['departure']['pickupPoint']}}
            </mat-chip>
          </mat-chip-list>

          <br>
        <mat-list>
          <mat-list-item><mat-icon>  date_range</mat-icon>&nbsp;&nbsp; {{ selectedRequest['departure']['pickupDate']}}</mat-list-item>
          <mat-list-item> <mat-icon>  access_time</mat-icon>&nbsp;&nbsp; {{ selectedRequest['departure']['pickupTime']}} </mat-list-item>
        </mat-list>


        </mat-card>

        <mat-card>

          <mat-card-title>From</mat-card-title>

          <mat-chip-list>
            <mat-chip [selected]="true">
              {{ selectedRequest['arrival']['pickupPoint'] }}

            </mat-chip>
          </mat-chip-list>

          <br>
        <mat-list>
          <mat-list-item><mat-icon>  date_range</mat-icon>&nbsp;&nbsp; {{selectedRequest['arrival']['dropDate']}}</mat-list-item>
          <mat-list-item> <mat-icon>  access_time</mat-icon>&nbsp;&nbsp; {{ selectedRequest['arrival']['dropTime']}} </mat-list-item>
        </mat-list>

        </mat-card>


    </div>


    <div class="col-lg-6">

      <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header >
            <mat-panel-title >
              Driver
            </mat-panel-title>

          </mat-expansion-panel-header>

          <mat-list>
            <mat-list-item *ngIf="selectedRequest['driver']">
              {{ selectedRequest['driver']['name'] }}
            </mat-list-item>

            <mat-list-item *ngIf="!selectedRequest['driver']">
              Not Assigned yet
            </mat-list-item>
          </mat-list>


          <button mat-button *ngIf="selectedRequest['driver']" cdkFocusInitial class="bg-warning" (click)="addDriver(selectedRequest['refNo'])"><mat-icon>cached</mat-icon>&nbsp;Change Driver</button>
          <button mat-button *ngIf="!selectedRequest['driver']" cdkFocusInitial class="bg-success" (click)="addDriver(selectedRequest['refNo'])"><mat-icon>add</mat-icon>&nbsp; Add Driver</button>

        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header >
            <mat-panel-title >
              Vehicle
            </mat-panel-title>

          </mat-expansion-panel-header>

          <mat-list>
              <mat-list-item *ngIf="selectedRequest['vehicle']">
                {{ selectedRequest['vehicle']['vehicle_no'] }}
              </mat-list-item>

              <mat-list-item *ngIf="!selectedRequest['vehicle']">
                Not Assigned yet
              </mat-list-item>
            </mat-list>

            <button mat-button *ngIf="!selectedRequest['vehicle']" class="bg-success" cdkFocusInitial (click)="addVehicle(selectedRequest['refNo'])"><mat-icon>add</mat-icon>&nbsp; Add Vehicle</button>
            <button mat-button *ngIf="selectedRequest['vehicle']" class="bg-warning" cdkFocusInitial (click)="addVehicle(selectedRequest['refNo'])"><mat-icon>cached</mat-icon>&nbsp;Change Vehicle</button>


        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header >
            <mat-panel-title >
              More Info
            </mat-panel-title>

          </mat-expansion-panel-header>

          <mat-list class="trp-mat-list">

            <mat-list-item><mat-icon>account_circle</mat-icon>  &nbsp;&nbsp; {{selectedRequest['lecturer']}}</mat-list-item>
            <mat-list-item><mat-icon>work_outline</mat-icon>  &nbsp;&nbsp; {{selectedRequest['position']}}</mat-list-item>
            <mat-list-item><mat-icon>domain</mat-icon>  &nbsp;&nbsp; {{selectedRequest['dep_unit']}}</mat-list-item>
            <mat-list-item><mat-icon>info</mat-icon>  &nbsp;&nbsp; {{selectedRequest['purpose']}}</mat-list-item>
            <mat-list-item><mat-icon>local_atm</mat-icon>  &nbsp;&nbsp; {{selectedRequest['fundingWay']}}</mat-list-item>
            <mat-list-item><mat-icon>email</mat-icon>  &nbsp;&nbsp; {{selectedRequest['email']}}</mat-list-item>
            <mat-list-item><mat-icon>lock</mat-icon>  &nbsp;&nbsp; {{selectedRequest['password']}}</mat-list-item>
            <mat-list-item><mat-icon>person_add</mat-icon>  &nbsp;&nbsp; {{selectedRequest['num_passangers']}}</mat-list-item>

          </mat-list>

        </mat-expansion-panel>
      </mat-accordion>


    </div>

  </div>


</mat-dialog-content>

<mat-dialog-actions style="text-align:right">
  <div class="spacer"></div>

  <div [ngSwitch]="selectedRequest['status']" style=" display: inline">

    <button mat-button *ngSwitchCase="0" (click)="acceptRequest(selectedRequest['refNo'])" style="background-color: #4CAF50; ">Accept</button>
    <button mat-button *ngSwitchCase="2" (click)="markDocumentedRequest(selectedRequest['refNo'])" style="background-color: #FF9800; ">Documented</button>
    <button mat-button *ngSwitchCase="3" (click)="printApplication(selectedRequest)" style="background-color: #52b03c; " >Print Application</button>
    <button mat-button *ngSwitchCase="3" (click)="printGatePass(selectedRequest)" style="background-color: #52b03c; " >Print Gate Pass</button>
    <button mat-button *ngSwitchCase="3" (click)="completeRequest(selectedRequest['refNo'])" style="background-color: #9C27B0; " >Completed</button>

  </div>

  <button *ngIf="selectedRequest['status'] != '5'" mat-button (click)="rejectRequest(selectedRequest['refNo'] )" style="background-color: #f50057; ">Reject</button>


  <button mat-button [mat-dialog-close]="1" style="background-color: #FF9800; ">Cancel</button>

</mat-dialog-actions>

<div id="request_form_div"></div>

<div id="vehicle_pass_div"></div>
