<div class="row">
  <div class="col-md-7">
    <div class="container-fluid">
      <table class="table">
        <tr>
          <th scope="row">
            Refferance No
          </th>
          <td>
            TRD-uok-1
          </td>
        </tr>

        <tr>
          <th scope="row">
            Lecturer
          </th>
          <td>
            Dr. Saman Jayamanna
          </td>
        </tr>
        <tr>
          <th scope="row">
            Designation
          </th>
          <td>
            HOD
          </td>
        </tr>

        <tr>
          <th scope="row">
            Department/ Unit
          </th>
          <td>
            Department of Physics
          </td>
        </tr>

        <tr>
          <th scope="row">
            Purpose
          </th>
          <td>
            what to need your service
          </td>
        </tr>

        <tr>
          <th scope="row">
            Funding method
          </th>
          <td>
            dddddddddddddddddddddddddddd
          </td>
        </tr>

        <tr>
          <th scope="row">
            Email
          </th>
          <td>
            dilushadasanayaka@gmail.com
          </td>
        </tr>
        <tr>
          <th scope="row">
            Password
          </th>
          <td>
            xxxxxxxxxxx
          </td>
        </tr>

        <tr>
          <th scope="row">
            Number of Passangers
          </th>
          <td>
            5
          </td>
        </tr>

        <tr>
          <th scope="row">
            Vehicle number
          </th>
          <td>
            CAD-4655
          </td>
        </tr>

        <tr>
          <th scope="row">
            Vehicle type
          </th>
          <td>
            Car
          </td>
        </tr>



      </table>
    </div>

  </div>
  <div class="col-md-5">
    <div class="container">


      <div class="card border-danger mb-3 text-center" style="max-width: 18rem;">
        <div class="card-header bg-transparent text-danger">
          <i class="fa fa-car"></i>
          Vehicle Section
        </div>
        <div class="card-body text-danger">
          <p class="card-text">Vehicle is not assigned yet</p>
          <button class="btn btn-danger">Add Vehicle</button>
        </div>
      </div>

      <div class="card border-danger mb-3 text-center" style="max-width: 18rem;">
        <div class="card-header bg-transparent text-danger">
          <i class="fa fa-car"></i>
          Driver Section
        </div>
        <div class="card-body text-danger">
          <p class="card-text">Driver is not assigned yet</p>
          <button class="btn btn-danger">Add Driver</button>
        </div>
      </div>


    </div>

  </div>
</div>
