
<div *ngIf="request" class="container-fluid">


  <div class="row">
    <div class="col-md-7">

        <div
          [ngClass]="{
              'alert-danger': request.status == 3,
              'alert-warning': request.status == 2,
              'alert-success': request.status == 0
            }"
          class="alert " role="alert">
          <div *ngIf="request.status == '3'">
            Request is not being reviewed
          </div>

          <div *ngIf="request.status == '2'">
            Request is accepted
          </div>
        </div>

      <div class="container-fluid">
        <table class="table table-sm">
          <tr>
            <th scope="row">
              Refferance No
            </th>
            <td>
              TRD/{{request.refNo}}
            </td>
          </tr>

          <tr>
            <th scope="row">
              Lecturer
            </th>
            <td>
              {{request.lecturer}}
            </td>
          </tr>
          <tr>
            <th scope="row">
              Designation
            </th>
            <td>
              {{request.position}}
            </td>
          </tr>

          <tr>
            <th scope="row">
              Department/ Unit
            </th>
            <td>
              {{request.dep_unit}}
            </td>
          </tr>

          <tr>
            <th scope="row">
              Purpose
            </th>
            <td>
              {{request.purpose}}
            </td>
          </tr>

          <tr>
            <th scope="row">
              Funding method
            </th>
            <td>
              {{request.fundingWay}}
            </td>
          </tr>

          <tr>
            <th scope="row">
              Email
            </th>
            <td>
              {{request.email}}
            </td>
          </tr>
          <tr>
            <th scope="row">
              Password
            </th>
            <td>
              {{request.password}}
            </td>
          </tr>

          <tr>
            <th scope="row">
              Number of Passangers
            </th>
            <td>
              {{request.num_passangers}}
            </td>
          </tr>




        </table>
      </div>


      <div class="row" >


        <div class="col-lg-4" *ngIf="request.status == '0'">
          <button type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#acceptReqModal">Accept</button>
        </div>

        <div class="col-lg-4" *ngIf="request.status == '2'">
          <button type="button" class="btn btn-block btn-outline-success" data-toggle="modal" data-target="#makeDetailedReqModal">Mark as fully Detailed</button>
        </div>

        <div class="col-lg-4">
          <button type="button" class="btn btn-block btn-danger">Reject</button>
        </div>

        <div class="modal fade" id="acceptReqModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" >Accept Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you shure that this request is possible?
              </div>
              <div class="modal-footer" ngClass="">
                <button type="button"  class="btn btn-success" data-dismiss="modal" (click)="acceptReq()"><i class="fa fa-add"></i>Acept</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="makeDetailedReqModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCentderTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" >Mark as fully Detailed</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you shure that this request is fully detailed?

              </div>
              <div class="modal-footer" ngClass="">
                <button type="button"  class="btn btn-success" data-dismiss="modal" (click)="markDetailedReq()"><i class="fa fa-add"></i>Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>

              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="rejectReqModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" >Reject Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you shure to reject this request?
              </div>
              <div class="modal-footer" ngClass="">
                <button type="button"  class="btn btn-success" data-dismiss="modal" (click)="rejectReq()"><i class="fa fa-add"></i>Acept</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

              </div>
            </div>
          </div>
        </div>
      </div>


    </div>




    <div class="col-md-5">
      <div id="accordion">
        <div class="card">
          <div
            class="card-header bg-inverse text-white" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h6 class="mb-0">
              <i class="fa fa-map"></i>
              Trip Section
            </h6>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion" *ngIf="request">
            <div class="card-body">
              <div>
                <h6>Departure</h6>
                <table class="table table-sm" *ngIf="request['departure']">

                  <tr>

                    <th scope="row">
                      Date
                    </th>
                    <td>
                      {{request.departure.pickupDate}}
                    </td>
                  </tr>

                  <tr>

                    <th scope="row">
                      Time
                    </th>
                    <td>
                      {{request.departure.pickupTime}}
                    </td>
                  </tr>

                  <tr>

                    <th scope="row">
                      From
                    </th>
                    <td>
                      {{request.departure.pickupPoint}}
                    </td>
                  </tr>

                  <tr>

                    <th scope="row">
                      To
                    </th>
                    <td>
                      {{request.departure.dropPoint}}
                    </td>
                  </tr>
                </table>
              </div>

              <div>
                <h6>Arrival</h6>
                <table class="table table-sm" *ngIf="request.arrival">

                  <tr>

                    <th scope="row">
                      Date
                    </th>
                    <td>
                      {{request.arrival.dropDate}}
                    </td>
                  </tr>

                  <tr>

                    <th scope="row">
                      Time
                    </th>
                    <td>
                      {{request.arrival.dropTime}}
                    </td>
                  </tr>

                  <tr>

                    <th scope="row">
                      From
                    </th>
                    <td>
                      {{request.arrival.dropPoint}}
                    </td>
                  </tr>

                  <tr>

                    <th scope="row">
                      To
                    </th>
                    <td>
                      {{request.arrival.pickupPoint}}
                    </td>
                  </tr>
                </table>
              </div>

            </div>
          </div>
        </div>
        <div class="card">
          <div
            [ngClass]="{'bg-danger':!request.vehicle, 'bg-success': request.vehicle}"
            class="card-header text-white" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h6 class="mb-0">
              <i class="fa fa-car"></i>
              Vehicle Section
            </h6>
          </div>

          <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordion">
            <div
              [ngClass]="{'text-danger': !request.vehicle, 'text-success' : request.vehicle}"
              class="card-body">
              <div *ngIf="request.vehicle">
                Vehicle no: {{request.vehicle.vehicle_no}}

                <br>

                <button class="btn btn-outline-warning"
                        data-toggle="modal" data-target="#addVehicleModal" >
                Change Vehicle
              </button>
              </div>
              <div *ngIf="!request.vehicle">
                <p class="card-text">
                  Vehicle is not assigned yet
                </p>
                <button
                  class="btn"
                  [ngClass]="{'btn-danger':!request.vehicle, 'btn-success': request.vehicle}"
                  data-toggle="modal" data-target="#addVehicleModal">Add Vehicle</button>
              </div>





             </div>
          </div>
        </div>



        <div class="card">
          <div
            [ngClass]="{
                      'bg-danger':!request.driver, 'bg-success': request.driver}"
            class="card-header text-white" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <h6 class="mb-0">
              <i class="fa fa-car"></i>
              Driver Section
            </h6>
          </div>

          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div
              [ngClass]="{'text-danger':!request.driver, 'text-success' : request.driver}"
              class="card-body">
              <div *ngIf="request.driver">
                Driver name: {{request.driver.name}}
              </div>
              <div *ngIf="!request.driver">
                <p class="card-text">

                </p>
                <button
                  class="btn"
                  [ngClass]="{'btn-danger':!request.driver, 'btn-success': request.driver}"
                  data-toggle="modal" data-target="#addDriverModal">Add Driver</button>
              </div>
              <button
                *ngIf="request.driver"
                class="btn btn-outline-warning"
                data-toggle="modal" data-target="#addDriverModal">Change Driver</button>

            </div>
          </div>
        </div>

        <!--add driver model-->

        <div class="modal fade" id="addDriverModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog trp-modal-lg" role="document">
            <div class="row">
              <div class="modal-content" style="min-width: 60%">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Driver</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!--<div class="row">
                  <div class="col-md-4">
                    <label for="">Select a driver</label>
                  </div>
                  <div class="col-md-8">

                    <kendo-autocomplete
                      [data]="data"
                      [filterable]="true"
                      (filterChange)="handleFilter($event)"
                      class="trp-min-input trp-autocomplete"
                      [(value)]="driver_name"
                    >
                    </kendo-autocomplete>
                  </div>

                </div>-->

                <app-set-driver
                [refNo]="refNo"
                (setDriver_)="setDriver($event)"
                ></app-set-driver>
              </div>

            </div>
            </div>

          </div>
        </div>

        <!--end of add driver model-->

        <!--add vehicle model-->

        <div class="modal fade" id="addVehicleModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog trp-modal-lg" role="document">
            <div class="row">
              <div class="modal-content" style="min-width: 60%">
                <div class="modal-header">
                  <h5 class="modal-title" id="ModalLongTitle">Add Vehicle</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!--<div class="row">
                    <div class="col-md-4">
                      <label for="">Select a Vehicle</label>
                    </div>
                    <div class="col-md-8">

                      <kendo-autocomplete
                        [data]="vehicleData"
                        [filterable]="true"
                        (valueChange)="getRequestsList($event)"
                        (filterChange)="handleFilter2($event)"
                        class="trp-min-input trp-autocomplete"
                        [value]="vehicle_no"
                      >
                      </kendo-autocomplete>


                    </div>
                      <div class="container-fluid">
                        <div class="row">
                          <table *ngIf="reqListOnVehicle && reqListOnVehicle !== '' && reqListOnVehicle !== null " class="table table-sm">
                            <thead>
                            <tr>
                              <th scope="col">ref no</th>
                              <th scope="col">Description</th>
                              <th scope="col">Departure time</th>
                              <th scope="col">Arrival time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let request of reqListOnVehicle">
                              <td>TRD/{{request['refNo']}}</td>
                              <td><b>{{request['departure']['pickupPoint']}}</b> to <b>{{request['arrival']['dropPoint']}}</b></td>
                              <td>{{request['departure']['pickupTime']}}</td>
                              <td>{{request['arrival']['dropTime']}}</td>

                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>


                  </div>-->

                  <app-set-vehicle
                    [refNo]="refNo"
                    (setVehicle)="setVehicle($event)"
                    (setDriver)="setDriver($event)"
                  >

                  </app-set-vehicle>


                </div>

              </div>
            </div>

          </div>
        </div>

        <!--end of add vehicle model-->

      </div>
      <div class="container">




      </div>

    </div>
  </div>

</div>

