<div class="example-container">

  <div class="row">
    <div class="col-lg-6">
       <mat-card>

        <mat-card-title>Add New Admin Account</mat-card-title>

        <div style="text-align:center">
          <img mat-card-lg-image src="../../../../../../assets/images/admin/admin.png">
        </div>
        
        <mat-form-field>
          <input matInput placeholder="User Name" class="trp-select">
        </mat-form-field>

        <mat-form-field>
            <input  matInput type="password" placeholder="Password" class="trp-select">
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Role">
            <mat-option value="admin">Admin</mat-option>
            <mat-option value="assistant">Assistant</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-card-actions style="text-align: center">
          <button class="btn-success" mat-button>Add</button>
        </mat-card-actions>
      </mat-card>

    </div>
    <div class="col-lg-6">
        <mat-card>

            <mat-card-title>Change Password</mat-card-title>

            <div style="text-align:center">
              <img mat-card-lg-image src="../../../../../../assets/images/admin/password.png">
            </div>

            <mat-form-field>
                <input [(ngModel)]="oldPassword"  matInput type="password" placeholder="Old Password" class="trp-select" required>
            </mat-form-field>

            <mat-form-field>
                <input [(ngModel)]="newPassword"  matInput type="password" placeholder="Password" class="trp-select">
            </mat-form-field>

            <mat-form-field>
                <input [(ngModel)]="confirmPassword"  matInput type="password" placeholder="Confirm Password" class="trp-select">
            </mat-form-field>

            <mat-card-actions style="text-align: center">
              <button 
                class="btn-success" 
                mat-button
                [disabled]="!oldPassword || !newPassword || newPassword != confirmPassword"
              >Add</button>
            </mat-card-actions>
        </mat-card>
    </div>



  </div>

  <div class="row">
    <div class="col-lg-12">
      <app-add></app-add>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <app-add-vehicle></app-add-vehicle>
    </div>
  </div>

</div>
