<div class="row" style="margin-top:-35px">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <form class="">
            <mat-form-field class="example-full-width" style="width:100%">
                <mat-icon matPrefix style="margin-right: 20px;">search</mat-icon>
              <input matInput #vehicleName  [matAutocomplete]="auto" [formControl]="stateCtrl" style="border-bottom: none;margin-bottom:-2px;width: 95%!important">
              <button mat-button *ngIf="selectedVehicle" matSuffix mat-icon-button aria-label="Clear" (click)="selectedVehicle=null;vehicleName.value=''">
                  <mat-icon style="color:black;">close</mat-icon>
                </button>
              <mat-autocomplete
                  #auto="matAutocomplete"
                  [displayWith]="displayFn"
                  (optionSelected) = "selectVehicle($event.option.value)"
              >
                <mat-option *ngFor="let vehicle of filteredStates | async" [value]="vehicle">
                  <img style="vertical-align:middle;" aria-hidden src="../../../../../../assets/images/admin/car.png" height="25" />
                  <span>{{ vehicle['vehicle_no'] }}</span>
                  <!-- <small>Liecence No: {{vehicle.driving_liecence_no}}</small> -->
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

          </form>
    </div>
    <div class="col-lg-3"></div>

  </div>
  <mat-card style="width:100%" *ngIf="selectedVehicle">
    <div class="row">

      <!--
        // vehicle list
        <div class="col-lg-3" *ngIf="vehicles">

        <div style="overflow-y: scroll; height:55vh;">
          <mat-card style="cursor: pointer" [ngClass]="{clicked: clickedItem === vehicle['_id']}" (click)="selectVehicle(vehicle)"  *ngFor="let vehicle of vehicles" >

              <img mat-card-sm-image src="../../../../../../assets/images/pattern/pattern.png" style="display: inline">
              <mat-card-subtitle style="display:inline">{{ vehicle['vehicle_no'] }}</mat-card-subtitle>

          </mat-card>
        </div>
    </div> -->

        <div class="col-lg-3">
            <div style="text-align:center">
                <img src="../../../../../../assets/images/admin/car.png" style="width:20vw;border-radius: 50%;">
              </div>

                <mat-list>
                  <mat-list-item>
                      <mat-icon mat-list-icon>directions_car</mat-icon>
                      <h4 mat-line>{{selectedVehicle.vehicle_no}}</h4>
                  </mat-list-item>

                  <mat-list-item>
                      <mat-icon mat-list-icon>error_outline</mat-icon>
                      <h4 mat-line>{{selectedVehicle.vehicle_type}}</h4>
                  </mat-list-item>

                  <mat-list-item>
                      <mat-icon mat-list-icon>build</mat-icon>
                      <h4 mat-line>{{selectedVehicle.chassi_no}}</h4>
                  </mat-list-item>


                </mat-list>
        </div>

        <div class="col-lg-6">

              <app-sheduler *ngIf="requests" [requests]="requests"></app-sheduler>

              <app-sheduler *ngIf="!requests" [requests]="[]"></app-sheduler>

          </div>



      <div class="col-lg-3">
          <mat-card *ngIf="selectedVehicle">
            <mat-card-title>
              <mat-icon>settings</mat-icon>
              Settings
            </mat-card-title>
            <br>

            <mat-card-subtitle>Maintenence History</mat-card-subtitle>

            <mat-card-content>

              <mat-list>

                  <mat-list-item
                    [ngClass]="{selectedHistoryRecord: selectedHistoryRecord === record}"
                    class="listOnRepair"
                    *ngFor="let record of repairHistory"
                  (click) ="loadRepairDialog()">REPAIR/{{record['_id'].substr(20)}}</mat-list-item>

                  <mat-list-item *ngIf="repairHistory.length == 0">0 records</mat-list-item>

              </mat-list>

            </mat-card-content>
          </mat-card>
      </div>
    </div>
  </mat-card>

<mat-card style="width:100%">
    <button mat-raised-button color="primary" (click)="exportAsExcelFile()">Export as Excel</button>
    <div class="example-container mat-elevation-z8" #TABLE>
        <mat-table #table [dataSource]="vehicleListDataSource">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="vehicle_no">
            <mat-header-cell *matHeaderCellDef> Vehicle No </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.vehicle_no}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="vehicle_type">
            <mat-header-cell *matHeaderCellDef> Vehicle Type </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.vehicle_type}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
</mat-card>
