<div class="row">

  <div class="col-lg-3" *ngIf="vehicles">

    <div style="overflow-y: scroll; height:55vh;">
      <mat-card style="cursor: pointer" [ngClass]="{clicked: clickedItem === vehicle['_id']}" (click)="selectVehicle(vehicle)"  *ngFor="let vehicle of vehicles" >

          <img mat-card-sm-image src="../../../../../../assets/images/pattern/pattern.png" style="display: inline">
          <mat-card-subtitle style="display:inline">{{ vehicle['vehicle_no'] }}</mat-card-subtitle>

      </mat-card>
    </div>
</div>
    <div class="col-lg-6">

        <mat-card *ngIf="selectedVehicle">
          <img mat-card-avatar src="../../../../../../assets/images/pattern/pattern.png">
          <mat-card-title style="display:inline"> {{ selectedVehicle['vehicle_no'] }}</mat-card-title>
        </mat-card>

          <app-sheduler *ngIf="requests" [requests]="requests"></app-sheduler>

          <app-sheduler *ngIf="!requests" [requests]="[]"></app-sheduler>

      </div>



  <div class="col-lg-3">
      <mat-card *ngIf="selectedVehicle">
        <mat-card-title>
          <mat-icon>settings</mat-icon>
          Settings
        </mat-card-title>

        <mat-card-subtitle>Maintenence History</mat-card-subtitle>

        <mat-card-content>

          <mat-list>

              <mat-list-item
                [ngClass]="{selectedHistoryRecord: selectedHistoryRecord === record}"
                class="listOnRepair"
                *ngFor="let record of repairHistory"
               (click) ="loadRepairDialog()">REPAIR/{{record['_id'].substr(20)}}</mat-list-item>

               <mat-list-item *ngIf="repairHistory.length == 0">0 records</mat-list-item>

          </mat-list>

        </mat-card-content>
      </mat-card>
  </div>
</div>
