<!--<div>
  <img src="assets/images/pattern/title.png" alt="" class="trd-title-arrow">
  <h4 class="trp-title">Reserve Vehicle</h4>

  <div class="trp-requestBtn text-center">
    <p>
      We try our best to make yourself comfortable
    </p>
    <button class="trp-btn" type="button" [routerLink]="['request/req_form']">Request <fa name="arrow-right" inverse="true"> </fa></button>
  </div>

</div>-->

<img src="/assets/images/background/taxi.png" alt="" class="trp-home-menu">
<br><br>
<!--<h5 class="trp-home-text">Reserve vehicle/s  for your academic purposes....</h5>-->
<button class="btn btn-next" [routerLink]="['request/req_form']">Reserve Vehicle...</button>
