
<div class="row">
  <div id="notice-main">
      <span id="notice-corner">
        <!--<img src="../../../../../assets/images/pattern/pattern2.png" style="repeat-y" alt="">-->
      </span>
      <div id="notice-board">
        <div class="row">
          <div class="col-lg-6 col-md-12"></div>
          <div class="col-lg-6 col-md-12 col-xs-12">

              <div class="input-wrapper">
                <label>check date:</label>
                <input [(ngModel)]="selectedDate"
                       [owlDateTimeTrigger]="dtPicker1"
                       [owlDateTime]="dtPicker1"
                       class="trp-min-input"
                >
                <owl-date-time
                  (afterPickerClosed)="picker()"
                  [pickerType]="'calendar'"
                  #dtPicker1></owl-date-time>
              </div>

          </div>
        </div>
      </div>

  </div>
</div>
