#notice-main{
  max-height: 500px;
  min-height: 400px;
  width: 100%;
  position: relative;
}

#notice-board{
  height: 90%;
  width: 90%;
  background-color: aqua;
  background: url("../../../../../assets/images/trasport.jpg");
  bottom:0;
  position: absolute;
}

#notice-corner{
  height: 60%;
  width: 30%;
  float:right;
  background-color:#680000;
  background-repeat: no-repeat;
  /*background: url("../../../../../assets/images/pattern/pattern2.png") repeat;*/
}
