<div class="row" style="margin-top:-4vw">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
      <form class="">
          <mat-form-field class="example-full-width" style="width:100%">
              <mat-icon matPrefix style="margin-right: 20px;">search</mat-icon>
            <input matInput  [matAutocomplete]="auto" [formControl]="stateCtrl" style="border-bottom: none;margin-bottom:-2px;width: 95%!important">
            <mat-autocomplete
                #auto="matAutocomplete"
                [displayWith]="displayFn"
                (optionSelected) = "getDriver($event.option.value)"
            >
              <mat-option *ngFor="let driver of filteredStates | async" [value]="driver">
                <img style="vertical-align:middle;" aria-hidden src="../../../../../../assets/images/admin/driver.png" height="25" />
                <span>{{ driver.name }}</span> |
                <small>Liecence No: {{driver.driving_liecence_no}}</small>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>


        </form>
  </div>
  <div class="col-lg-3"></div>

</div>


<div class="row"  *ngIf="selectedDriver">
  <app-profile [driver]="selectedDriver"></app-profile>
</div>


<div class="row">

    <div class="col-lg-5" *ngIf="drivers">

      <div style="overflow-y: scroll; height:55vh;">
        <mat-card style="cursor: pointer" [ngClass]="{clicked: clickedItem === driver['_id']}" (click)="selectDriver(driver)"  *ngFor="let driver of drivers" >

            <img mat-card-sm-image src="../../../../../../assets/images/pattern/pattern.png" style="display: inline">
            <mat-card-subtitle style="display:inline">{{ driver['name'] }}</mat-card-subtitle>

        </mat-card>
      </div>

    </div>

    <div class="col-lg-7">

        <mat-card *ngIf="selectedDriverName">

          <div class="">
              <img mat-card-avatar src="../../../../../../assets/images/pattern/pattern.png">
              <mat-card-title style="display:inline"> {{ selectedDriverName }}</mat-card-title>

              <button mat-icon-button style="float: right;vertical-align: bottom;background: gainsboro;" ><mat-icon>delete_outline</mat-icon></button>

          </div>

        </mat-card>

        <app-sheduler *ngIf="requests" [requests]="requests"></app-sheduler>

        <app-sheduler *ngIf="!requests" [requests]="[]"></app-sheduler>

    </div>


  </div>

