.mat-input-element:focus{
  border-bottom: none;
  height: 1rem;
  padding: 0px;
}

.mat-input-container{
  width: 95%;
}

.mat-form-field-infix {
   padding: 200px!important;
   border-top: none!important;
}
.mat-input-element{
  border-bottom: none;
  height: 1rem;
  padding: 0px;
}
