<div class="row">
    <div class="col-lg-7">

        <app-sheduler *ngIf="requests" [requests]="requests"></app-sheduler>

        <app-sheduler *ngIf="!requests" [requests]="[]"></app-sheduler>

    </div>

    <div class="col-lg-5" *ngIf="vehicles">

      <div style="overflow-y: scroll; height:55vh;">
        <mat-card style="cursor: pointer" [ngClass]="{red: clickedItem === vehicle['_id']}" (click)="selectVehicle(vehicle)"  *ngFor="let vehicle of vehicles" >

            <img mat-card-sm-image src="../../../../../../assets/images/pattern/pattern.png" style="display: inline">
            <mat-card-subtitle style="display:inline">{{ vehicle['vehicle_no'] }}</mat-card-subtitle>
            <button mat-button (click)="setVehicle(vehicle)" style="background-color: #4CAF50; color: #ffffff;">Add</button>



        </mat-card>
      </div>




    </div>
  </div>
