<div class="row">
    <div class="col-lg-7">

        <app-sheduler *ngIf="requests" [requests]="requests"></app-sheduler>

        <app-sheduler *ngIf="!requests" [requests]="[]"></app-sheduler>

    </div>

    <div class="col-lg-5" *ngIf="vehicles">

      <div style="overflow-y: scroll; height:55vh;">

          <mat-list   >
              <mat-list-item style="cursor: pointer;    border-bottom: 1px solid #c8c8c8;" [ngClass]="{clicked: clickedItem === vehicle['_id']}" (click)="selectVehicle(vehicle)"  *ngFor="let vehicle of vehicles">
                <img matListAvatar src="../../../../../../assets/images/pattern/pattern.png" alt="avatar">
                <h3 matLine> {{ vehicle['vehicle_no'] }} </h3>
                <p matLine>
                    <button mat-button (click)="setVehicle(vehicle)" style="background-color: #4CAF50; color: #ffffff;float: right;">Add</button>

                    <span class="demo-2" *ngIf="vehicle['status'] == 102">

                    <mat-chip
                      [selected]="true"
                      style="background-color:red;height: 18px;"
                    >
                        Under Maintenence
                    </mat-chip>
                  </span>
                </p>
              </mat-list-item>
          </mat-list>



      </div>




    </div>

    <div mat-dialog-actions>
        <div class="spacer"></div>

      <button mat-button [mat-dialog-close]="selectedVehicle" style="background-color: #FF9800; " cdkFocusInitial>Close</button>
    </div>

  </div>
