<mat-card style="width: 100%">
  <div class="row">
    <div class="col-lg-5">

      <div style="text-align:center">
        <img src="../../../../../../assets/images/admin/driver.png" style="width:20vw;border-radius: 50%;">
      </div>

        <mat-list>
          <mat-list-item>
              <mat-icon mat-list-icon>face</mat-icon>
              <h4 mat-line>{{driver.name}}</h4>
          </mat-list-item>

          <mat-list-item>
              <mat-icon mat-list-icon>credit_card</mat-icon>
              <h4 mat-line>{{driver.driving_liecence_no}}</h4>
          </mat-list-item>

          <mat-list-item>
              <mat-icon mat-list-icon>credit_card</mat-icon>
              <h4 mat-line>{{driver.nic_no}}</h4>
          </mat-list-item>

          <mat-list-item>
              <mat-icon mat-list-icon>call</mat-icon>
              <h4 mat-line>{{driver.telephone}}</h4>
          </mat-list-item>

          <mat-list-item>
              <mat-icon mat-list-icon>home</mat-icon>
              <h4 mat-line>{{driver.address}}</h4>
          </mat-list-item>
        </mat-list>

        <div class="row" *ngIf="isLoggedIn" style="text-align:right">
          <button mat-button (click) ="logoutDriver()" class="btn btn-danger">Logout</button>
        </div>

    </div>

    <div class="col-lg-7">
        <app-sheduler *ngIf="requests" [requests]="requests"></app-sheduler>

        <app-sheduler *ngIf="!requests" [requests]="[]"></app-sheduler>
    </div>
  </div>
</mat-card>

<br>

  <mat-card style="width: 100%">
    <mat-tab-group style="width:100%">
      <mat-tab label="Todays Requests">

          <app-requests-table [requestDataSource]="todayReqDataSource"></app-requests-table>

      </mat-tab>
      <mat-tab label="Months Requests">

        <app-requests-table [requestDataSource]="todayReqDataSource"></app-requests-table>

      </mat-tab>
    </mat-tab-group>
  </mat-card>

