

<div class="container" *ngIf="driver">
  <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="">
              <div class="row">
                  <div class="col-sm-6 col-md-4">
                      <img src="http://placehold.it/150x150" alt="" class="img-fluid" />
                  </div>
                  <div class="col-sm-6 col-md-8">
                      <h4>
                        {{driver.name | uppercase}}</h4>
                      <small><cite title="San Francisco, USA">San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                      </i></cite></small>
                      <p>
                          <i class="glyphicon glyphicon-telephone"></i>
                          <!-- {{driver.telephone}} -->
                          <br />
                          <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">{{driver.driving_liecence_no}}</a>
                          <br />
                          <i class="glyphicon glyphicon-gift"></i>{{driver.nic_no}}</p>
                      <!-- Split button -->

                  </div>
              </div>
          </div>
      </div>
  </div>
  <br>

  <h4>Shedule</h4>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-secondary" (click)="onClickDay()">Day</button>
    <button type="button" class="btn btn-secondary" (click)="onClickMonth()">Month</button>
  </div>
  <br>
  <br>

  <div class="row">



    <table *ngIf="reqListOnDriver[0] && reqListOnDriver !== [] && reqListOnDriver !== null " class="table table-sm table-hover">
      <thead>
      <tr>
        <th scope="col">Department/Unit</th>
        <th scope="col">Description</th>
        <th scope="col">Departure time</th>
        <th scope="col">Arrival time</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let request of reqListOnDriver" data-toggle="modal" data-target=".bd-example-modal-lg">
        <td>{{request['dep_unit']}}</td>
        <td><b>{{request['departure']['pickupPoint']}}</b> to <b>{{request['arrival']['pickupPoint']}}</b></td>
        <td>{{request['departure']['pickupTime']}}</td>
        <td>{{request['arrival']['dropTime']}}</td>

      </tr>
      </tbody>

      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">




          </div>
        </div>
      </div>

    </table>
    <div class="row" *ngIf="!reqListOnDriver[0]">
      <div  class="alert alert-warning text-center ">
        no duties
      </div>
    </div>

  </div>
</div>
