
<!--<div>

    <img src="assets/images/pattern/title.png" alt="" class="trd-title-arrow">

  <h4 class="trp-title">
    Review your Request
  </h4>

  <div class="text-center trp-requestBtn">
    <p>
      We try our best to make yourself comfortable
    </p>
    <button
      class="trp-btn"
      type="button"
      data-toggle="modal" data-target="#req_status_Modal"
    >
      Review <fa name="arrow-right" inverse="true"> </fa></button>
  </div>

  &lt;!&ndash;[routerLink]="['request/check_req']"&ndash;&gt;
</div>-->

<div class="col-md-12 text-center">
  <img src="/assets/images/background/reservation.png" alt="" class="trp-home-menu">
  <h5 class="trp-home-text">Check the status of your request....</h5>
  <button class="trp-home-btn" data-toggle="modal" data-target="#req_status_Modal">Check Request...</button>
</div>


<div class="modal" id="req_status_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="height: fit-content;">
  <div class="" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View Status Window</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <app-status-msg></app-status-msg>


      </div>

    </div>
  </div>
</div>
