
<div class="" ><!--style="padding-left: 3vh; padding-right: 3vh; padding-top: 2vh"-->
  <app-notice></app-notice>

</div>

<div class="">
  <div class="" style="margin:1em">

    <div class="row">
      <div class="col-4 ">
        <h2>How to reserve</h2>
        <div class='embed-container'><iframe src='https://www.youtube.com/embed/2eawcAJhnDU' frameborder='0' allowfullscreen></iframe></div>
      </div>
      <div class="col-4 ">
          <h2>How to check</h2>
          <div class='embed-container'><iframe src='https://www.youtube.com/embed/2eawcAJhnDU' frameborder='0' allowfullscreen></iframe></div>
      </div>
      <div class="col-4 ">
          <h2>complete journey</h2>
          <div class='embed-container'><iframe src='https://www.youtube.com/embed/2eawcAJhnDU' frameborder='0' allowfullscreen></iframe></div>
      </div>
    </div>


  </div>
</div>



