
<div class="" ><!--style="padding-left: 3vh; padding-right: 3vh; padding-top: 2vh"-->
  <app-notice></app-notice>

</div>

<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

<div class="jumbotron">
  <div class="" style="margin:1em">

    <div class="row">
      <div class="col-lg-6">
        <h2 class="trp-how-to">How to reserve</h2>
        <div class='video-container'><iframe width="560" height="315" src="https://www.youtube.com/embed/2XTpzlM1s2s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      </div>
      <div class="col-lg-6">
          <h2 class="trp-how-to">How to check Status</h2>
          <div class='video-container'><iframe src='https://www.youtube.com/embed/Ok6VMOyTkP8' frameborder='0' allowfullscreen></iframe></div>
      </div>
     <!-- <div class="col-lg-4 ">
          <h2 class="trp-how-to">Complete journey</h2>
          <div class='video-container'><iframe src='https://www.youtube.com/embed/2eawcAJhnDU' frameborder='0' allowfullscreen></iframe></div>
      </div>-->
    </div>


  </div>
</div>



