/*
@media (max-width: 792px) {
  .trd-nav-link {
    padding-bottom: 10px;
    padding-top: 8px;
    color: white;
    !* padding-top: 10px; *!
    !* margin-top: 10px; *!
    background-color: black;
  }
}
*/
