
  <mat-toolbar style="background:black;height:80px">
    <mat-toolbar-row>

      <span><img class="navbar-brand" src="https://uok-trp.firebaseapp.com/assets/images/logo/Kelaniya.png" alt="Dispute Bills" style="height:70px;paddin:10px;margin:35px 20px 10px"></span>
      <span class="menu-spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm style="color: white;">
        <mat-icon>menu</mat-icon>
      </button>


      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a href="#" class="trd-nav" mat-button>Menu Item 1</a>
        <a href="#" class="trd-nav" mat-button>Menu Item 2</a>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav [mode]="'over'">
      <mat-nav-list >
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a href="#" mat-list-item>Menu Item 1</a>
        <a href="#" mat-list-item>Menu Item 2</a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill  >

        <app-main></app-main>
        <app-footer></app-footer>

    </mat-sidenav-content>
  </mat-sidenav-container>
