<!--
<div class="header" style="background-color: black">
  <div class="top-header">
    <div class="" style="padding-right: 2vh; padding-left: 2vh">

      <nav class="navbar navbar-expand-lg navbar-dark bg-faded">
        <a class="navbar-brand" href="#">
          <img src="../../assets/images/logo/Kelaniya.png" alt="" class="nav-logo">
        </a>


        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  "  id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto active">
            <a class="nav-item nav-link-edit" [routerLink]="['']">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link-edit" href="#">Features</a>


          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
-->


<div style="background-color: black">
  <div id="app" class="" >
    <nav class="navbar navbar-expand-lg navbar-light bg-faded">
      <a class="navbar-brand" href="#">
        <img src="../../assets/images/logo/Kelaniya.png" class="nav-logo" alt="">
      </a>
      <button style="background-color: #ffcc00"
        class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <div id="navbarNavDropdown" class="navbar-collapse collapse">
         <ul class="navbar-nav mr-auto">


         </ul>
     <ul class="navbar-nav">
           <li class="nav-item dropdown">
             <a class="nav-item trd-nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Dropdown
             </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
               <a class="dropdown-item" href="#">Action</a>
               <a class="dropdown-item" href="#">Another action</a>
             </div>
           </li>
           <li class="nav-item">
             <a class="nav-item trd-nav-link trd-nav-link-coner" href="#">Login</a>
           </li>

         </ul>


      </div>-->
  <div class="collapse navbar-collapse  "  id="navbarNavDropdown">
  <div class="navbar-nav ml-auto active">
    <a class="nav-item trd-nav-link trd-nav" [routerLink]="['']">Home <span class="sr-only">(current)</span></a>
    <a class="nav-item trd-nav-link trd-nav item-gold" href="#" >Features</a>


  </div>
</div>
    </nav>
  </div>
</div>
