<div class="header" style="background-color: black">
  <div class="top-header">
    <div class="container">

      <nav class="navbar navbar-expand-lg navbar-dark bg-faded">
        <a class="navbar-brand" href="#">
          <img src="../../assets/images/logo/Kelaniya1.png" alt="">
        </a>


        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  "  id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto active">
            <a class="nav-item nav-link-edit" [routerLink]="['']">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link-edit" href="#">Features</a>


          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
