/*
@media (max-width: 792px) {
  .trd-nav-link {
    padding-bottom: 10px;
    padding-top: 8px;
    color: white;
    !* padding-top: 10px; *!
    !* margin-top: 10px; *!
    background-color: black;
  }
}
*/
@media screen and (max-width: 600px) {

  .nav-logo{
    width: 200px;
  }
}

.trd-nav, .trd-nav:hover, .trd-nav:active{
  text-decoration: none;
  border: solid #000;
  border-radius: 100px;

  font-weight: bolder;

}

.trd-nav:hover, .trd-nav:active{
  background-color: #000;
  text-decoration: none;
  color: #fc0!important;
  border: solid #fc0;

}

.trd-nav-active {
  background-color: #fc0!important;
  text-decoration: none;
  color: #ffffff!important;
  border: solid #fc0;
}
