@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

.mat-icon {
  vertical-align: middle;
  margin-right: 10px;
  color: #FFBE27;
}



.img-arrow{
  width: 100%;
  position: absolute;
  margin-top: -10px;
}


tr {
  border-bottom: none!important;
}

.owl-dt-inline-container .owl-dt-calendar .owl-dt-popup-container .owl-dt-calendar {
  height: 100%;
}

.owl-dt-calendar-header .no-tr{
  border-bottom: none!important;
}

.mat-input-element{
  border-bottom: none;
  height: 1rem;
  padding: 0px;
}

.col-lg-6{
  padding-right:3vw;
}
.mat-input-element:focus{
  border-bottom: none;
  height: 1rem;
  padding: 0px;
}


.mat-form-field-infix {
   padding: 200px!important;
   border-top: none!important;
}



.login-block{
  background: #DE6262;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #ff9704);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #ff9704); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  float:left;
  width:100%;
  padding : 50px 0;
}


.banner-sec{background:url('../../../../../assets/images/background/cover.jpg')  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}
/*.container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}*/
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#FEB58A;}
.login-sec .copy-text a{color:#E36262;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #DE6262; color:#fff; font-weight:600;}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}

h5{
  font-size:1.44vw;
}
 label{
   font-size:1em;
   color:#000000;
 }

 .input-wrapper{
   margin-bottom:10px;
 }


.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #C01830;
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: #E36262;
}


  @media screen and (max-width: 600px) {
    #login-section{
      width: 90%;
    }

    #login-partial{
      padding-right: 5px;
      padding-left: 5px;
      padding-top: 15px;
    }

    .login-block{
      padding-top: 10px;
    }
  }


