<div>
  <div class="row m-xl-4">

        <form ngForm="" (ngSubmit)="formSubmit()">

          <div class="form-group">
            <label for="form-title">Title</label>

            <select class="trp-select" name="title" id="form-title" [(ngModel)]="title">
            <option *ngFor="let one_title of titleList" [value]="one_title" >{{one_title}}</option>
          </select>

          </div>

          <div>
            <label for="form-name">Name</label>
            <input type="text" [(ngModel)]="name" id="form-name" name="name">

          </div>

          <div>
            <label for="form-faculty">Faculty</label>

            <select class="trp-select" name="faculty" id="form-faculty" [(ngModel)]="faculty">
            <option *ngFor="let faculty of faculties" [value]="faculty['name']">{{faculty['name']}}</option>
          </select>
          </div>

          <div *ngIf="faculty!=null">
            <div  *ngFor="let fac of faculties">
              <select class="trp-select" *ngIf="fac.name == faculty" name="dep" id="form-dep" [(ngModel)]="department">
                <option *ngFor="let dep of fac.departments">{{dep}}</option>
              </select>
            </div>
          </div>

          <div>
            <label for="form-email">Email</label>
            <input type="text" [(ngModel)]="email" id="form-email" name="email">
          </div>

          <div>
            <label for="form-password">Password</label>
            <input type="password" [(ngModel)]="password" id="form-password" name="password">
          </div>

          <div>
            <label for="form-password-re">Retype Password</label>
            <input id="form-password-re" type="password" [(ngModel)]="rePassword" name="password">
          </div>

          <div>
            <label for="form-numOfPassanger">Number of Passangers</label>
            <input type="number" [(ngModel)]="numOfPassangers" id="form-numOfPassanger" name="numOfPassangers">
          </div>


          <div class="example-wrapper">
            <label>Date & Time:</label>
            <kendo-datepicker

                [format]="'dd-MMM-yyyy '"
                [(value)]="dateTime"
            ></kendo-datepicker>
            <kendo-timepicker
              [format]="'HH:mm'"
              [(value)]="jstartTime"
            ></kendo-timepicker>
          </div>

          <!--<div class="example-wrapper" >
            <label>Select a date:</label>
            <kendo-datepicker
              [value]="dateTime"
              [format]="'dd-MMM-yyyy '"
              [(value)]="enddate"
            ></kendo-datepicker>
            <kendo-timepicker
              [value]="jstartTime"
              [format]="'HH:mm'"
              [(value)]="endtime"
            ></kendo-timepicker>


          </div>-->
          <div>
            <label for="">Duration</label>
            <kendo-autocomplete
              [data]="data"
              [filterable]="true"
              (filterChange)="handleFilter($event)"
              [placeholder]="'e.g. 5 Hours or 2 Day'"
              class="countries"
              [(value)]="duration"
            >
            </kendo-autocomplete>
          </div>


         <div>
           <input class="trp-btn" type="submit" value="Request->">
         </div>


        </form>

  </div>
</div>


