<!--<div class="container-fluid">
  <div class="row">
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-10">



  </div>
    <div class="col-xl-8 col-lg-7 col-md-6 col-sm-10"></div>

    &lt;!&ndash;<div class="col-xl-4 col-lg-3 col-md-2 col-sm-1"></div>&ndash;&gt;


  </div>
</div>-->

<div class="">
  <div class="row">
    <section class="login-block">
      <div class="container" id="login-section" >
        <div class="row">
          <div class="col-md-5 login-sec" id="login-partial">

            <div *ngIf="isLoading" style="    text-align: center;
                                                margin-top: 70px;
                                                margin-bottom: 30px;">

              <img src="/assets/images/loading.gif" alt="" style="height: 50px;margin-top: 20px; margin-bottom: 20px;">
              <br>
              <label for="">Pleas wait!</label>
            </div>

            <div *ngIf="!isLoading">
              <div class="card"  [ngSwitch]=step @slide >

                <div class="trp-form-div card-body" style="    padding: 10px;    overflow: hidden;" #formDiv>

                  <h2 style="text-align: center" class="">Plan a journey</h2>   <!--trp-title card-title-->
                  <div class="row trp-form-bar" >
                    <div class="col-md-4 col-sm-3 col-4 trp-align-center {{isActive(1)}}" >
                      <fa name="location-arrow" inverse="true" size="1x" > </fa>
                    </div>
                    <div class="col-md-4 col-sm-3 col-4 trp-align-center {{isActive(2)}}" >
                      <fa name="calendar" inverse="true" size="1x" > </fa>
                    </div>
                    <div class="col-md-4 col-sm-3 col-4 trp-align-center {{isActive(3)}}">
                      <fa name="info-circle" inverse="true" size="1x" > </fa>
                    </div>

                  </div>

                  <div class="alert alert-danger" role="alert" style="margin-top: 8px" [hidden]="!formD.isError">
                    <strong>Error! </strong> {{formD.errMsg.toString()}}
                  </div>
                  <div id="step1"  *ngSwitchCase="1"  >

                    <div class="">
                      <label for="pickupPoint">Pickup Point</label>
                      <input type="text"  autocomplete="off" placeholder="search for pickup location" autocapitalize="off" id="pickupPoint" name="pickupPoint" class="trp-min-input" #search required>
                    </div>

                    <div class="">
                      <label for="dropPoint">Drop Point</label>
                      <input type="text"  autocomplete="off" placeholder="search for drop location" autocapitalize="off" id="dropPoint" name="dropPoint" class="trp-min-input" #search2 required>
                    </div>
                    <div class="  ">

                      <label for="form-numOfPassanger">Number of Passangers</label>
                      <input class="trp-min-input " type="number" [(ngModel)]="formData.num_passangers" id="form-numOfPassanger" name="numOfPassangers" required>
                    </div>



                    <div style="text-align: center; padding:0 10px 0 10px ">
                      <Button type="button"
                              [disabled]="!arrival.pickPointAddress || !departure.pickPointAddress || !formData.num_passangers"
                              class="trp-btn"
                              [class.btn-disabled]="!arrival.pickPointAddress || !departure.pickPointAddress || !formData.num_passangers"
                              (click)="nextStep(2)"
                              style="margin-top: 20px;"
                      >
                        Next <fa name="arrow-right" inverse="true"> </fa>
                      </Button>
                    </div>
                  </div>



                  <div id="step2" *ngSwitchCase="2" >

                    <div class="input-wrapper">
                      <label>Time to pick you up :</label>
                      <input [(ngModel)]="departure.pickupTime"
                             [owlDateTimeTrigger]="dtPicker1"
                             [owlDateTime]="dtPicker1"
                             class="trp-min-input"
                             [min]="today"
                      >
                      <owl-date-time
                        #dtPicker1></owl-date-time>
                    </div>

                    <div class="  ">
                      <label>End date & time:</label>
                      <input [(ngModel)]="arrival.dropTime"
                             [owlDateTimeTrigger]="dtPicker2"
                             [owlDateTime]="dtPicker2"
                             class="trp-min-input"
                             [min]="departure.pickupTime"
                      >
                      <owl-date-time
                        #dtPicker2
                      ></owl-date-time>

                    </div>


                    <div style="text-align: center; padding:0 10px 0 10px ">

                      <Button type="button"
                              class="trp-btn"
                              [disabled]="!departure.pickupTime || !arrival.dropTime"
                              [class.btn-disabled]="!departure.pickupTime || !arrival.dropTime"
                              (click)="nextStep(3)"
                              style="margin-top: 20px;"
                      >
                        Next <fa name="arrow-right" inverse="true"> </fa>
                      </Button>
                    </div>
                  </div>

                  <div id="step3"  *ngSwitchCase="3" >
                    <div class="" style="display: inline">
                      <label label="name" for="form-name">Name</label>
                      <input type="text" class=" trp-min-input " [(ngModel)]="formData.lecturer" id="form-name" name="name">

                    </div>
                    <br>

                    <div class="example-wrapper">
                      <label for="">Department/Unit</label>

                      <kendo-autocomplete
                        [data]="data"
                        [filterable]="true"
                        (filterChange)="handleFilter($event)"
                        class="trp-select trp-min-input trp-autocomplete"
                        [(value)]="formData.dep_unit"
                      >
                      </kendo-autocomplete>
                    </div>
                    <div class="  ">
                      <label for="form-email">Email</label>
                      <input class=" trp-min-input " type="email" [(ngModel)]="formData.email" id="form-email" name="email">
                    </div>

                    <div class="  ">
                      <label for="form-password">Password</label>
                      <input class=" trp-min-input " type="password" minlength="11" [(ngModel)]="formData.password" id="form-password" name="password">
                    </div>

                    <div class="  ">
                      <label for="form-password-re">Retype Password</label>
                      <input class=" trp-min-input " id="form-password-re" type="password" [(ngModel)]="rePassword" name="password">
                    </div>
                    <div style="text-align: center; padding:0 10px 0 10px ">
                      <Button type="button" class="trp-btn" (click)="nextStep(2)" style="margin-top: 20px;"><fa name="arrow-left" inverse="true"> </fa> Back</Button>
                      <Button
                        type="button"
                        class="trp-btn"
                        (click)="validateForm()"
                        style="margin-top: 20px;"

                      >Request <fa name="arrow-right" inverse="true"> </fa></Button>
                    </div>
                  </div>


                  <div id="step4"  *ngSwitchCase="4" >


                    <div class="card text-center" style="margin-top: 5px">
                      <div class="card-header bg-success text-white">
                        Successfully Reqeusted!
                      </div>
                      <div class="card-body">
                        <h5 class="card-title" style="margin-top: 5px">Your Credentials...</h5>


                        <table class="table">
                          <tbody>
                          <tr>
                            <td>Refferance No</td>
                            <td>TRD/{{refNoOfCreated}}</td>

                          </tr>

                          <tr>

                            <td>Password</td>
                            <td>1234</td>
                          </tr>
                          </tbody>
                        </table>

                        <p class="card-text">Please use above credential to further inquries about this request</p>
                        <a href="/" class="btn btn-success" style="margin-bottom: 5px">Got it..</a>
                      </div>
                      <div class="card-footer text-muted ">
                        Thank You!
                      </div>
                    </div>

                  </div>


                </div>

              </div>
            </div>


            <!--<div class="copy-text">Created with <i class="fa fa-heart"></i> by <a href="http://grafreez.com">Grafreez.com</a></div>-->
          </div>
          <div class="col-md-7 banner-sec">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <img class="d-block img-fluid" src="../../assets/images/background/cover.jpg" alt="First slide" style="height: 70vh">
                  <div class="carousel-caption d-none d-md-block">
                    <div class="banner-text">
                      <h2>Now it's easy!</h2>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <img class="d-block img-fluid" src="../../assets/images/background/cover.jpg" alt="First slide" style="height: 70vh">
                  <div class="carousel-caption d-none d-md-block">
                    <div class="banner-text">
                      <h2>It's reliable</h2>
                     <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>-->
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <img class="d-block img-fluid" src="../../assets/images/background/cover.jpg" alt="First slide" style="height: 70vh">
                  <div class="carousel-caption d-none d-md-block">
                    <div class="banner-text">
                      <h2></h2>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>


</div>


