<div class="container">
    <div class="row">
          <mat-card >
            <form *ngIf="isSubmited" class="form-horizontal" #driverForm="ngForm" (ngSubmit)="addDriver(driverForm.value);driverForm.reset()">
              <fieldset>
              <div class="row">
                  <!-- Form Name -->
                  <legend>Add Driver</legend>
                  <div class="col-lg-4">
                    <mat-form-field>
                        <input  matInput ngModel placeholder="Name" class="trp-select"  id="name" name="name">
                    </mat-form-field>
                  </div>

                  <div class="col-lg-4">
                      <mat-form-field>
                          <input  matInput ngModel placeholder="NIC No" class="trp-select"  id="nic_no" name="nic_no">
                      </mat-form-field>
                  </div>

                  <div class="col-lg-4">
                    <mat-form-field>
                        <input  matInput ngModel placeholder="Driving licence No" class="trp-select"  id="driving_liecence_no" name="driving_liecence_no">
                    </mat-form-field>
                  </div>

                  <div class="col-lg-4">
                    <mat-form-field>
                        <input  matInput ngModel placeholder="Telephone" class="trp-select"  id="telephone" name="telephone">
                    </mat-form-field>
                  </div>

                  <div class="col-lg-4">
                    <mat-form-field>
                        <textarea ngModel matInput placeholder="Address" class="trp-select" id="address" name="address"></textarea>
                    </mat-form-field>
                  </div>


                  <!-- File Button -->
                  <!-- <div class="form-group">
                    <label class="col-md-4 control-label" for="image">Image</label>
                    <div class="col-md-4">
                      <input ngModel id="image" name="image" class="input-file" type="file">
                    </div>
                  </div> -->
                <div class="col-lg-4">
                    <mat-card-actions style="text-align: right;">
                        <button class="btn-success" mat-button>Add</button>
                    </mat-card-actions>
                </div>

              </div>


              </fieldset>
              </form>

            <div *ngIf="!isSubmited" class="container" style="text-align: center">
                <mat-spinner ></mat-spinner>
            </div>

          </mat-card>


      </div>
</div>

