
    <div class="row">
          <mat-card style="width: 100%" >

              <mat-card-title>Add new driver</mat-card-title>

              <div class="row">
                  <div class="col-lg-5" style="text-align:center">
                      <img src="../../../../../../assets/images/admin/driver.png" style="width:20vw;border-radius: 50%">
                  </div>

                    <div class="col-lg-7">
                        <form *ngIf="!isSubmited" class="form-horizontal" #driverForm="ngForm" (ngSubmit)="addDriver(driverForm.value);driverForm.reset()">
                            <fieldset>
                            <div class="row">

                                <!-- <div class="col-lg-6">
                                  <img [src]="url" height="200"> <br/>
                                  <mat-form-field>
                                      <input matInput ngModel type='file' (change)="onSelectFile($event)">
                                  </mat-form-field>
                                </div> -->

                                <div class="col-lg-6">
                                  <mat-form-field>
                                      <input  matInput ngModel placeholder="Name" class="trp-select"  id="name" name="name">
                                  </mat-form-field>
                                </div>

                                <div class="col-lg-6">
                                    <mat-form-field>
                                        <input  matInput ngModel placeholder="NIC No" class="trp-select"  id="nic_no" name="nic_no">
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-6">
                                  <mat-form-field>
                                      <input  matInput ngModel placeholder="Driving licence No" class="trp-select"  id="driving_liecence_no" name="driving_liecence_no">
                                  </mat-form-field>
                                </div>

                                <div class="col-lg-6">
                                  <mat-form-field>
                                      <input  matInput ngModel placeholder="Telephone" class="trp-select"  id="telephone" name="telephone">
                                  </mat-form-field>
                                </div>

                                <div class="col-lg-6">
                                  <mat-form-field>
                                      <input  matInput ngModel placeholder="Password" type="password" class="trp-select"  id="password" name="password">
                                  </mat-form-field>
                                </div>

                                <div class="col-lg-6">
                                  <mat-form-field>
                                      <textarea ngModel matInput placeholder="Address" class="trp-select" id="address" name="address"></textarea>
                                  </mat-form-field>
                                </div>


                                <!-- File Button -->
                                <!-- <div class="form-group">
                                  <label class="col-md-4 control-label" for="image">Image</label>
                                  <div class="col-md-4">
                                    <input ngModel id="image" name="image" class="input-file" type="file">
                                  </div>
                                </div> -->



                            </div>

                              <div class="row">
                                <div class="col-lg-12">
                                    <mat-card-actions style="text-align: center;">
                                        <button class="btn-success" mat-button>Add</button>
                                    </mat-card-actions>
                                </div>
                              </div>

                            </fieldset>
                            </form>

                          <mat-spinner *ngIf="isSubmited"></mat-spinner>
                    </div>
              </div>



          </mat-card>


      </div>


