<div class="row" *ngIf="vehicle">
  <div class="col-md-6">
    <table class="table table-sm">
      <tr>
        <th scope="row">
          Vehicle Number
        </th>
        <td>
          {{vehicle['vehicle_no']}}
        </td>
      </tr>

      <tr>
        <th scope="row">
          Chassy Number
        </th>
        <td>
          {{vehicle['chassi_no']}}
        </td>
      </tr>

      <tr>
        <th scope="row">
          Vehicle Type
        </th>
        <td>
          {{vehicle['vehicle_type']}}
        </td>
      </tr>

      <tr>
        <th scope="row">
          Condition
        </th>
        <td class="table-success">
          Good
        </td>
      </tr>

    </table>

    <button class="btn purple" (click)="addMaintenance()">Add Maintenance</button>
  </div>
  <div class="col-md-6">
    <img src="http://www.hdcarwallpapers.com/walls/renault_alpine_a110_50_concept-wide.jpg" alt="" class="img-responsive trp-img-vehicle">
  </div>
</div>
