<div class="row">
    <div class="col-md-2">
  <div class="nav-side-menu">
    <div class="brand">Admin Panel</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

      <ul id="menu-content" class="menu-content collapse out">
        <li>
          <a href="/admin">
            <i class="fa fa-dashboard fa-lg"></i> Dashboard
          </a>
        </li>

        <li  data-toggle="collapse" data-target="#products" class="collapsed active">
          <i class="fa fa-bullhorn fa-lg"></i> New Requests  ({{not_reviewed_requests.length}})<span class="arrow"></span>
        </li>
        <ul class="sub-menu collapse" id="products">
          <!--<li class="active"><a href="#">CSS3 Animation</a></li>-->
          <li *ngFor="let n_r_req of not_reviewed_requests"><a href="/admin/request/{{n_r_req['refNo']}}">TRD/{{n_r_req['refNo']}}</a></li>

        </ul>


        <li data-toggle="collapse" data-target="#accepted_reqs" class="collapsed">
          <i class="fa fa-bell fa-lg"></i> Accepted Requests  ({{accepted_requests.length}}) <span class="arrow"></span>
        </li>
        <ul class="sub-menu collapse" id="accepted_reqs">
          <a *ngFor="let accepted_req of accepted_requests" href="/admin/request/{{accepted_req['refNo']}}">
            <li>TRD/{{accepted_req['refNo']}}</li>
          </a>
        </ul>


        <li data-toggle="collapse" data-target="#service" class="collapsed">
          <i class="fa fa-bell fa-lg"></i> Confirmed Requests  ({{confirmed_requests.length}})  <span class="arrow"></span>
        </li>
        <ul class="sub-menu collapse" id="service">
          <a *ngFor="let confirmed_req of confirmed_requests" href="/admin/request/{{confirmed_req['refNo']}}">
            <li>TRD/{{confirmed_req['refNo']}}</li>
          </a>
        </ul>

        <li data-toggle="collapse" data-target="#Doc_comp" class="collapsed">
          <i class="fa fa-thumbs-up fa-lg"></i> Fully Detailed Requests  ({{detailed_requests.length}}) <span class="arrow"></span>
        </li>
        <ul class="sub-menu collapse" id="Doc_comp">
          <a *ngFor="let det_comp_req of detailed_requests" href="/admin/request/{{det_comp_req['refNo']}}">
            <li>TRD/{{det_comp_req['refNo']}}</li>
          </a>
        </ul>

        <li data-toggle="collapse" data-target="#new" class="collapsed">
          <i class="fa fa-car fa-lg"></i> Vehicles <span class="arrow"></span>
        </li>
        <ul class="sub-menu collapse" id="new">
          <a *ngFor="let vehicle of vehicle_list" href="/admin/vehicle/view/{{vehicle['vehicle_no']}}">
            <li >{{vehicle['vehicle_no']}}</li>
          </a>
          <a href="/admin/vehicle/add">
            <li>Add vehicle <i class="fa fa-add"></i></li>
          </a>


        </ul>


        <li data-toggle="collapse" data-target="#driversList" class="collapsed">
          <a href="#">
            <i class="fa fa-user fa-lg"></i> Drivers <span class="arrow"></span>
          </a>
        </li>
        <ul class="sub-menu collapse" id="driversList">

        </ul>

        <li>
          <a href="#">
            <i class="fa fa-users fa-lg"></i> Users
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>

  </div>


