
/* You can add global styles to this file, and also import other style files */

body{
  font: 15px/1.5 Arial, Helvetica , sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

.container{
  width:80%;
  margin:auto;
  overflow: hidden;
}
#navbarNavAltMarkup{
  margin-top: 3em;
}

.header{
  border-bottom:#C01830 3px solid;
}

.nav-link-edit{
  color:white;
  padding:1em 1em 1em 1em;
  text-decoration: none;

}

.nav-link-edit:hover{
  background-color: #C01830;
  text-decoration: none;
  color:#ffffff;
}



@media(max-width:990px){
  #navbarNavAltMarkup{
    margin-top: 0;
  }

}


 .trp-btn{
   background-color: #C01830;
   border:none;
   color: #ffffff;
   padding: 5px 15px 5px 15px;
   text-transform: uppercase;
   font-size: 17px;
 }
 .trp-btn:hover{
   background-color:#680000;
 }

 .trp-title{
   font-family: monospace;
 }



 input,.trp-select{
   border-radius: 0;
   border: 1px solid;
   box-shadow: none !important;
   border-color: #680000;
   min-height: 40px;
   font-size: 16px;
   font-weight: 400;
   padding: 4px;
 }

.trp-min-input{
   min-width:100% ;
 }

.trp-autocomplete{
  padding: 0 4px 0 0!important;

}


/*------>>> Animations <<<-----*/
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -o-transition: opacity 0.25s ease-in;
  -ms-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
  transition-delay: 0.25s;
}
.fade.in{
  opacity: 1;
}

.animate-switch-container {
  position:relative;
  overflow: hidden;

  border: solid 1px black;
  box-shadow: 6px 6px 15px gray;
  padding:10px;
  border-radius:10px;

  background-size: 50px 50px;
}
.animate-switch{
  padding:10px;
  width: 100%;
}
.animate-switch.ng-animate {
  -webkit-transition:all 0.5s;
  transition:all 0.5s;
  position:absolute;

}
/* hide leaving slide  */
/* show */
.animate-switch.ng-leave{
  left:0;
}
/* hide */
.forward .animate-switch.ng-leave.ng-leave-active{
  left:-100%;
}
.backward .animate-switch.ng-leave.ng-leave-active{
  left: 100%;
}
/* show entering slide  */
/* hide */
.forward .animate-switch.ng-enter {
  left:100%;
}
.backward .animate-switch.ng-enter {
  left:-100%;
}
/* show */
.animate-switch.ng-enter.ng-enter-active {
  left:0;
}


/*-----------------------------------*/
