
/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~@progress/kendo-theme-default/scss/all";
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';
body{
  font: 15px/1.5;
  font-family:'Raleway', sans-serif;;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}


.container{
  width:80%;
  margin:auto;
  overflow: hidden;
}
#navbarNavAltMarkup{
  margin-top: 3em;
}

.header{
  border-bottom:#C01830 3px solid;
}

.nav-link-edit{
  color:white;
  padding:1em 1em 1em 1em;
  text-decoration: none;

}

.nav-link-edit:hover{
  background-color: #C01830;
  text-decoration: none;
  color:#ffffff;
}



@media(max-width:990px){
  #navbarNavAltMarkup{
    margin-top: 0;
  }

}


 .trp-btn{
   background-color: #C01830;
   border:none;
   color: #ffffff;
   padding: 5px 15px 5px 15px;
   text-transform: uppercase;
   font-size: 17px;
   margin-bottom: 10px;
 }
 .trp-btn:hover{
   background-color:#680000;
 }
.trp-modal-lg {
  max-width: 80% !important;
}
 .trp-one-driver{
   margin: 5px;
   padding: 1px;
 }

 .trp-one-driver :hover{
   background-color: #cec9c9;
 }

 .trp-sliderImg{
   max-height: 400px;
 }

 .trp-driver-list-img{
   max-height: 6vh;
 }
 .trp-title{
   background-color: #000000;
   color: #FFFfff;
   padding-top: 5px;
   padding-bottom: 5px;
   text-align: center;
   margin-bottom: 0;
 }

 .trd-title-arrow{
   position: absolute;
   max-height: 35px
 }

.trp-align-center{
  text-align:center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.trp-form-bar{
  background-color: #f9d5e5;
  margin-right: -20px;
  margin-left: -20px;

}

.trp-align-center.active{
  background-color:#C01830 ;
}

.trp-img-vehicle{
  max-width: 50%;
  padding: 0.6em;
}

.errspan {
  float: right;
  margin-right: 6px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
  color: black;
}

 input,.trp-select{
   border-radius: 0;
   border: 1px solid;
   box-shadow: none !important;
   border-color: #680000;
   min-height: 40px;
   font-size: 16px;
   font-weight: 400;
   padding: 4px;
 }

.trp-min-input{
   min-width:100% ;
 }

.trp-autocomplete{
  padding: 0 4px 0 0!important;

}

.trp-form-div{
  min-height: 550px;
}

.trp-requestBtn{
  margin-bottom:10px;
  background-color: #cec9c9;
}

.trp-notice-background{
  /*background-color:rgba(0,0,0,0.4);*/
  margin: 1em;
  padding-bottom: 1em;
  position: absolute;
  z-index: 1;
}

.trp-check-date-div{
  background-color: rgba(0,0,0,0.4);
  margin: 1em;
  padding: 1em;
}

.trp-check-date{
  color: white;
  font-family: 'Patua One', cursive;
}
/*request form styles*/



/*------>>> Animations <<<-----*/
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -o-transition: opacity 0.25s ease-in;
  -ms-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
  transition-delay: 0.25s;
}
.fade.in{
  opacity: 1;
}

.animate-switch-container {
  position:relative;
  overflow: hidden;

  border: solid 1px black;
  box-shadow: 6px 6px 15px gray;
  padding:10px;
  border-radius:10px;

  background-size: 50px 50px;
}
.animate-switch{
  padding:10px;
  width: 100%;
}
.animate-switch.ng-animate {
  -webkit-transition:all 0.5s;
  transition:all 0.5s;
  position:absolute;

}
/* hide leaving slide  */
/* show */
.animate-switch.ng-leave{
  left:0;
}
/* hide */
.forward .animate-switch.ng-leave.ng-leave-active{
  left:-100%;
}
.backward .animate-switch.ng-leave.ng-leave-active{
  left: 100%;
}
/* show entering slide  */
/* hide */
.forward .animate-switch.ng-enter {
  left:100%;
}
.backward .animate-switch.ng-enter {
  left:-100%;
}
/* show */
.animate-switch.ng-enter.ng-enter-active {
  left:0;
}


/*-----------------------------------*/
.example-wrapper {  align-content: flex-start; }
.example-wrapper p, .example-col p { margin: 0 0 10px; }
.example-wrapper p:first-child, .example-col p:first-child { margin-top: 0; }


.form-group1 {
  margin-bottom: 0.5rem;
}


.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  /*position: fixed;*/
  top: 0px;
  /*width: 300px;*/
  height: 100%;
  color: #e1ffff;
}

.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}

.input-group-addon{
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #680000;
  color: white;
}

.btn-disabled{
  background-color: #f7b3bd !important;
  }
