
 <mat-toolbar color="primary"  style="text-align:right">

	<h1>Admin Panel</h1>
    <span class="example-fill-remaining-space"></span>

  <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
</mat-toolbar>

 <div fxLayout="row">

  <mat-drawer-container class="example-sidenav-container" style="height:80vh; ">
		<mat-drawer #snav [mode]="'side'">
      <img mat-card-image src="https://via.placeholder.com/300x200">
			<mat-nav-list>

				<a mat-list-item  (click)="changeTab(1)" ><mat-icon matListIcon>calendar_today</mat-icon>   Shedule</a>

        <a mat-list-item [class.mat-elevation-z8]="true" (click)="changeTab(2)" ><mat-icon matListIcon>receipt</mat-icon>   Requests</a>


        <mat-expansion-panel class="sideNav">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon matListIcon>face</mat-icon>   Drivers
            </mat-panel-title>
          </mat-expansion-panel-header>

          <a mat-list-item (click)="changeTab(3)" ><mat-icon matListIcon>pageview</mat-icon>&nbsp;&nbsp;  View</a>
          <a mat-list-item (click)="changeTab(4)" ><mat-icon matListIcon>add</mat-icon>&nbsp;&nbsp;  Add Driver</a>
        </mat-expansion-panel>

        <mat-expansion-panel class="sideNav">
          <mat-expansion-panel-header>
            <mat-panel-title>
             <mat-icon matListIcon>commute</mat-icon>   Vehicles
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list>
            <a mat-list-item (click)="changeTab(5)" ><mat-icon matListIcon>pageview</mat-icon> &nbsp;&nbsp; View</a>
            <a mat-list-item (click)="changeTab(6)" ><mat-icon matListIcon>add</mat-icon> &nbsp;&nbsp; Add Vehicle</a>
          </mat-nav-list>

        </mat-expansion-panel>


			</mat-nav-list>
		</mat-drawer>

    <mat-drawer-content>
      <div class="" style="padding-right: 4vw;padding-left: 4vw; padding-top: 5vh;">



            <div *ngIf="selectedTab == 1">
              <!-- <p-fullCalendar [events]="events" [options]="options"></p-fullCalendar> -->

              <div class="row">
                <div class="col-lg-7">
                  <app-sheduler *ngIf="events.length > 0" [requests]="events"></app-sheduler>

                </div>

                <div class="col-lg-5">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      Today Req
                    </mat-expansion-panel-header>
                  </mat-expansion-panel>
                </div>
              </div>


            </div>

            <div *ngIf="selectedTab == 2">
              <mat-tab-group>
                  <mat-tab label="New Requests">
                      <app-requests-table [requestDataSource]="newReqDataSource" (changeEmitter)="changeDetecter($event)"></app-requests-table>
                  </mat-tab>
                  <mat-tab label="Accepted Requests">
                      <app-requests-table [requestDataSource]="acceptedReqDataSource" (changeEmitter)="changeDetecter($event)"></app-requests-table>
                  </mat-tab>

                  <mat-tab label="Confirmed Requests">
                      <app-requests-table [requestDataSource]="confirmedReqDataSource" (changeEmitter)="changeDetecter($event)"></app-requests-table>
                  </mat-tab>

                  <mat-tab label="Authenticated Requests">
                    <app-requests-table [requestDataSource]="authenticatedReqDataSource" (changeEmitter)="changeDetecter($event)"></app-requests-table>
                  </mat-tab>

                  <mat-tab label="Completed Requests"></mat-tab>
                  <mat-tab label="Rejected Requests"></mat-tab>
              </mat-tab-group>
            </div>

            <div *ngIf="selectedTab == 3">
              <app-driver-list></app-driver-list>>
            </div>

            <div *ngIf="selectedTab == 4">
              <br><br>
              <!-- add vehicle component -->
              <app-add></app-add>
            </div>

            <div *ngIf="selectedTab == 5">
              <app-vehicle-list></app-vehicle-list>
            </div>

            <div *ngIf="selectedTab == 6">
              <br><br>
              <app-add-vehicle></app-add-vehicle>
            </div>



      </div>
    </mat-drawer-content>
  </mat-drawer-container>



</div>
