
 <mat-toolbar color="primary"  style="text-align:right">

	<h1>Admin Panel</h1>
    <span class="example-fill-remaining-space"></span>

  <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
</mat-toolbar>

 <div fxLayout="row">

  <mat-drawer-container class="example-sidenav-container" style="height:80vh; ">
		<mat-drawer #snav [mode]="'side'">
      <img mat-card-image src="https://via.placeholder.com/300x200">
			<mat-nav-list>
				<a mat-list-item routerLink="." >Requests</a>
        <a mat-list-item routerLink="." >Requests</a>
        <a mat-list-item routerLink="." >Requests</a>
        <a mat-list-item routerLink="." >Requests</a>
        <a mat-list-item routerLink="." >Requests</a>
			</mat-nav-list>
		</mat-drawer>

    <mat-drawer-content>
      <div class="container">

        <mat-tab-group>
          <mat-tab label="Shedule">

            <div>
              <!-- <p-fullCalendar [events]="events" [options]="options"></p-fullCalendar> -->

              <app-sheduler *ngIf="events.length > 0" [requests]="events"></app-sheduler>

            </div>

          </mat-tab>

          <mat-tab label="Requests">

              <mat-tab-group>
                  <mat-tab label="New Requests">

                      <div class="mat-elevation-z8">
                          <mat-table #table [dataSource]="newReqDataSource" matSort>

                            <!-- Position Column -->
                            <ng-container matColumnDef="refNo">
                              <mat-header-cell *matHeaderCellDef> Ref No </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.refNo}} </mat-cell>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="to">
                              <mat-header-cell *matHeaderCellDef> To </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.to}} </mat-cell>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="from">
                              <mat-header-cell *matHeaderCellDef> From </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.from}} </mat-cell>
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="driver">
                              <mat-header-cell *matHeaderCellDef> Driver </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.driver}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="vehicle">
                              <mat-header-cell *matHeaderCellDef> Vehicle </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.vehicle}} </mat-cell>
                            </ng-container>


                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                          </mat-table>


                        </div>

                  </mat-tab>
                  <mat-tab label="Accepted Requests">
                      <div class="mat-elevation-z8">
                          <mat-table #table [dataSource]="acceptedReqDataSource" matSort>

                            <!-- Position Column -->
                            <ng-container matColumnDef="refNo">
                              <mat-header-cell *matHeaderCellDef> Ref No </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.refNo}} </mat-cell>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="to">
                              <mat-header-cell *matHeaderCellDef> To </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.to}} </mat-cell>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="from">
                              <mat-header-cell *matHeaderCellDef> From </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.from}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="driver">
                              <mat-header-cell *matHeaderCellDef> Driver </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.driver}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="vehicle">
                              <mat-header-cell *matHeaderCellDef> Vehicle </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.vehicle}} </mat-cell>
                            </ng-container>


                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="loadRequest(row['refNo'])"></mat-row>
                          </mat-table>


                        </div>


                  </mat-tab>

                  <mat-tab label="Confirmed Requests"></mat-tab>
                  <mat-tab label="Authenticated Requests"></mat-tab>
                  <mat-tab label="Completed Requests"></mat-tab>
                  <mat-tab label="Rejected Requests"></mat-tab>
              </mat-tab-group>

          </mat-tab>
        </mat-tab-group>





      </div>
    </mat-drawer-content>
  </mat-drawer-container>



</div>
