.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-icon{
  margin-right: 20px;
  vertical-align:middle
}

.colour-box {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.repairForm .col-lg-12 {
  margin-bottom:5px;
}

.listOnRepair {
  border-left: solid 2px red;
  background-color: gainsboro;
}

.listOnRepair:hover{
  background-color: #ffdada;
  color: red;
  cursor: pointer;
}

.menu-spacer {
  flex: 1 1 auto;
}

.mat-button.cdk-focused, .mat-icon-button.cdk-focused, .mat-button.cdk-program-focused, .mat-icon-button.cdk-program-focused {
  background-color: none !important;
  border: none !important;
  outline: none !important;
}
.mat-button.cdk-focused .mat-button-focus-overlay, .mat-icon-button.cdk-focused .mat-button-focus-overlay, .mat-button.cdk-program-focused .mat-button-focus-overlay, .mat-icon-button.cdk-program-focused .mat-button-focus-overlay {
  display: none !important;
  border: none !important;
  outline: none !important;
}
